* {
    box-sizing: border-box;
}

body {
    font-size: 10px;
    font-family: Tahoma, Arial;
    /*Text-Align*/
    text-align: center;
}

div.menu {
    width: 100%;
    /*      This is an A11y Change 
    Change from #4d5791 to #8597FF
    background-color: #4d5791;*/
    background-color: #8597FF;
    height: 44px;
    padding: 0 40px;
    /*Change/Added Code*/
    overflow: hidden;
}

div.menu ul,
div.menu ul li {
    margin: 0;
    padding: 0 ;
    list-style: none;
    display: inline-block;
}

/*div.menu ul*/
 li a {
    /*Change/Added Code*/
    display: inline-block;
    color: black;
    float: left;
    text-align: center;
    padding: 20px 25px;
    width: 40%;

    /*line-height: 44px;*/
    font-size: 1.6em;
    text-decoration: none;
    margin: 0;
}

div.menu ul li a:hover  {
    color: #4d5791;
}

/*
#links {
    padding: 0;
    margin: 0;
}

#links li {
    display: inline;
    padding: 0 lem 0 0;
}*/

div.hero {
    height: 350px;
    /*          This is an A11y Change
    /*Changed background color to #3355A3
    background-color: #b4c6f0;*/
    background-color: #3355A3;
    
    /*Change background-image
    background-image: url('bg.png');*/
    background-image: url('bg2.jpg');
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 40px;
}

div.hero h1,
div.hero h2 {
    text-align: center;
    margin: 0;
}

div.hero h1 {
    color: #fff;
    font-size: 4.2em;
    margin-bottom: 20px;
}

div.hero h2 {
    /*   This is another A11y change -- from 
    it's original color to black
    color: #4d5791;*/
    color: white;
    font-size: 20px; /*Added size*/
}

/*Add p*/
p{
    font-size: 16px;
}
.container {
    padding: 70px;
    width: 100%;
}

.page-area {
    max-width: 768px;
    display: inline-block;
}

/*
.bottom {
    height: 50px;
    background-color: #b4c6f0;
    padding: 40px;
    
}

.center {
    text-align: center;
}*/

footer{
    font-size: 25px;
    text-align: center;
    /*Added the .bottom code*/
    height: 50px;
    background-color: #b4c6f0;
    padding: 40px;
}

.container div.text-box {
    display: inline-block;
    width: 100%;
    max-width: 340px;
    text-align: justify;
    word-spacing: normal;
    margin: 20px;
}

@media screen and (min-width: 768px) {
    .container .div.text-box {
        margin: 10px;
    }
}